<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katz.myavtivity">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="Book Store"
      >
        android:debuggable="true"
        <activity
            android:name="com.example.katz.myavtivity.MainActivity"
            android:label="Book Store">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.katz.myavtivity.Log_In"
            android:label="Log In" />
        <activity
            android:name="com.example.katz.myavtivity.sign_in"
            android:label="sign in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.katz.myavtivity.BooksActivity"
            android:label=""
            android:layout_width="0dp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.katz.myavtivity.BookDetails"
            android:label="@string/title_activity_book_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.katz.myavtivity.provider"></activity>
    </application>

</manifest>
